body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:1293px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#5193C3;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:214px;
  width:244px;
  height:814px;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#5193C3;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
  color:#5193C3;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:214px;
  width:381px;
  height:814px;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
  color:#5193C3;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:214px;
  width:648px;
  height:814px;
  font-family:'Century';
  font-weight:400;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1293px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Global User Interface';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#5193C3;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:112px;
  width:1293px;
  height:78px;
  font-family:'Global User Interface';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#5193C3;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1289px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:287px;
  width:147px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:368px;
  width:147px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:448px;
  width:147px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:525px;
  width:147px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u7_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:972px;
  width:131px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:972px;
  width:131px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:283px;
  width:196px;
  height:28px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:327px;
  width:196px;
  height:28px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:371px;
  width:196px;
  height:28px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:415px;
  width:196px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:460px;
  width:196px;
  height:28px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:535px;
  width:349px;
  height:415px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:415px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:322px;
  width:619px;
  height:145px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:145px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:754px;
  width:515px;
  height:29px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:510px;
  width:515px;
  height:29px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:283px;
  width:515px;
  height:29px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:564px;
  width:619px;
  height:145px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:145px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:805px;
  width:619px;
  height:145px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:145px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
