body, html {
  /*margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:2018px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;*/
  padding: 0;
margin: 0;

}


#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Bold', 'Century Regular', 'Century';
  font-style:normal;
  color:#5193C3;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:214px;
  width:509px;
  height:926px;
  font-family:'Century Bold', 'Century Regular', 'Century';
  font-style:normal;
  color:#5193C3;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:505px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Bold', 'Century Regular', 'Century';
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:214px;
  width:578px;
  height:926px;
  font-family:'Century Bold', 'Century Regular', 'Century';
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:574px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2018px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Global User Interface Bold', 'Global User Interface Regular', 'Global User Interface';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#5193C3;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:112px;
  width:2018px;
  height:78px;
  font-family:'Global User Interface Bold', 'Global User Interface Regular', 'Global User Interface';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#5193C3;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:2014px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1080px;
  width:158px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:1080px;
  width:163px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:470px;
  width:249px;
  height:36px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:540px;
  width:249px;
  height:36px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:613px;
  width:249px;
  height:36px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:681px;
  width:249px;
  height:36px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:751px;
  width:249px;
  height:36px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:397px;
  width:443px;
  height:136px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:136px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:835px;
  width:443px;
  height:29px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:586px;
  width:443px;
  height:29px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:349px;
  width:443px;
  height:29px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:29px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:636px;
  width:443px;
  height:149px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:149px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:886px;
  width:443px;
  height:151px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:151px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:350px;
  width:249px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:825px;
  width:249px;
  height:36px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:898px;
  width:249px;
  height:36px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:969px;
  width:249px;
  height:36px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:36px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:1080px;
  width:159px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:926px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:214px;
  width:911px;
  height:926px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
